<%= form_for @user do |f| %>
  <div class="field">
    <%= f.label :username %><br>
    <p><%= f.text_field :username, placeholder: 'Username' %></p>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <p><%= f.text_field :email, placeholder: 'Email' %></p>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, placeholder: 'Password' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
